@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

/*背景画像(黒板)*/
body{
  background-image: url("images/bunbougu_kokuban.png");
  background-attachment: fixed;	/*固定*/
  background-size:1100px 800px;
  background-repeat: no-repeat;
  background-position: top center;
  color:white;
  text-align:center;
}

/*ホームボタン*/
.home{
  display: flex;
  justify-content: flex-end; /*右側へ配置*/

}
.home a img{
  background:#ff00e8;
  width: 40px;  	/*画像の幅*/
  height: 40px; 	/*画像の高さ*/

  position: fixed;	/*固定*/
  top: 40px;		/*上からの位置*/
  right: 300px;
  border:#2d801c 6px outset;
}

/*戻るボタン*/
.back{
  display: flex;
  justify-content: flex-end; /*右側へ配置*/

}
.back img{
  background:#f0ff19;
  width: 20px;  	/*画像の幅*/
  height: 20px; 	/*画像の高さ*/
  padding: 10px;	/*位置*/
  position: fixed;	/*固定*/
  bottom: 30px;		/*下からの位置*/
  right: 400px;
  border:#b0cb3a 6px outset;
}

/*フッター*/
footer p{text-align: center;}

.wrapper{
	overflow-y: scroll;
	height:500px;
}
td{
	padding: 5px 0;
	border:rgb(255, 255, 153) 5px inset;
	font-weight:600;
}

th{
  padding: 10px 0;
  font-weight:900;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 0, 0, 0.5);
  color: #fff;
  border:rgb(255, 148, 145) 5px inset;
}

table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}

tr.wrongId{
	background:rgb(98, 0, 0, 0.6);
}

tr.correctId{
	background:rgb(128, 128, 255, 0.3);
}

caption{
	position: sticky;
	
}

h1{
	font-family: 'Yuji Boku', serif;
	font-size:3em;
}