@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

/*背景画像(ノート)*/
body{
  background-image: url(images/zabuton_notebook.png);
  background-attachment: fixed;	/*固定*/
  background-size:  1455px  750px;
  background-repeat: no-repeat;	/*画像を繰り返し表示しない*/
  background-position: top center;
  line-height:2em;
  cursor:url(pencil.cur), auto;	/*カーソル*/
  font-family: 'Noto Serif JP', serif;
}

/*ホームボタン*/
.home{
  display: flex;
  justify-content: flex-end; /*右側へ配置*/
}
.home a img{
  width: 60px;  	/*画像の幅*/
  height: 60px; 	/*画像の高さ*/
  padding: 30px;	/*位置*/
  position: fixed;	/*固定*/
  top: 45px;		/*上からの位置*/
  right: 120px;
  cursor: pointer;
}

h1{margin:50px 5px 2px;}		/*問題(タイトル)の位置*/

/*制限時間*/
#timer{
  display: flex;
  justify-content: flex-start;	/*左側へ配置*/
  position: fixed;				/*固定*/
  top: 6px;		
  background:darksalmon;		/*上からの位置*/
}

/*問題文(form)*/
form{
  display:flex;
  flex-direction:column;		/*要素の並ぶ方向*/
  width:960px;
  text-align:left;				/*左寄せ*/
}
form div{
  position:relative;
  left:140px;					/*左からの位置*/
}

/*フッター*/
footer p{
  text-align: center;
}

/*〇✕ボタン*/
input[type=radio]{
		display: none;
}
		
.label{
	border:salmon outset 4px;
	padding:0px 5px;
	border-radius:5px;
	transition: 0.7s;
	cursor:url(pencil.cur), auto;
	background:lightsalmon;
}

input[type="radio"]:checked + label{
	background:blue;
	color:yellow;
	font-size: 1.2em;
	font-weight:1000;
	border:darkblue inset 4.5px;
}

.label:hover{
	background: yellow;
	border: gold 4px double;
}