@charset "UTF-8";

/*背景画像(コルクボード)*/
body{
  background-image: url(images/cork_board.png);
  background-size:  1250px  585px;
  background-repeat: no-repeat;
  background-position: top center;
}

/*ホームボタン*/
.home{
  display: flex;
  justify-content: flex-end; /*右側へ*/
}
.home a img{
  width: 40px;  		/*画像の幅*/
  height: 40px; 		/*画像の高さ*/
  padding: 25px;		/*位置*/
  position: relative;
  top: 30px;			/*上からの位置*/
  right: 70px;			/*右からの位置*/
}

/*トロフィー画像*/
.trophy{
  display: flex;
  justify-content:center;/*中央へ*/
}
.trophy img{
  position:relative;
  width:170px;
}