@charset "UTF-8";

/*背景画像(コルクボード)*/
body{
  background-image: url(images/cork_board.png);
  background-size:  1500px  750px;
  background-repeat: no-repeat;
  background-position: top center;
}

/*ホームボタン*/
.home{
  display: flex;
  justify-content: flex-end; /*右側へ*/
}
.home a img{
  width: 40px;  		/*画像の幅*/
  height: 40px; 		/*画像の高さ*/
  padding: 30px;		/*位置*/
  position: relative;	/*↓の設定のために必要*/
  top: 30px;			/*上からの位置*/
  right: 85px;			/*右からの位置*/
}

/*タイトルに戻るボタン*/
#title{
	margin: 0 45%;
}

/*トロフィー画像*/
.trophy{
  display:flex;
  justify-content:space-between;
}
.trophy img{
  width:200px;			/*画像のサイズ*/
  padding:5px 80px;		/*画像の位置*/
}

/*フッター*/
footer p{
  margin:0;				/*余白を消す*/
  display:flex;
  justify-content:center;/*中央*/
}
/*footer p small{
  *position:relative;*/	/*↓の設定のために必要*/
  /*bottom:33px;*/			/*下からの位置*/
/*}*/

